h1 {
    text-align: center;
    color: red;
}

h2 {
    font-family: Impact, fantasy;
    background-color: darkseagreen;
}

h3 {
    color: gray;
    font-family: Arial, sans-serif;
}

table {
    border: 2px dashed black;
    font-family: Arial, sans-serif;
    background-color: lightgray;
}

td {
    border: 1px solid black;
}

th {
    border: 1px solid red;
}
